@import url('https://fonts.googleapis.com/css?family=Pacifico');

div{text-align:center;
}

#name {text-align: center;
  font-size: 4vw;font-family:Pacifico;}

#exp{text-align: center;
  font-size:3vw;
  font-family:pacifico;
}

.line{text-align: center;
  font-family:pacifico
}

div6 {text-align: center;
}

div{text-align:center;
font-family:pacifico}

div{text-align:center;
  margin:30px;
  justify-content:space-around;
}

img { display: inline-block;
  border: solid black;
  text-align: center;
}

body{background-image: url(https://media0.giphy.com/media/l2Jht8Xew78rOJML6/giphy.gif);background-size:100px;background-repeat:repeat;}

h1{text-align: center;
font-family: pacifico}

.flexer { margin: 100px;
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
  }
